@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  /* padding: 0 2rem; */
  /* width: 100vw; */
  /* min-height: 100vh; */
}
.text-color {
  color: rgb(87, 194, 255);
}
.stroke-color {
  stroke: rgb(87, 194, 255);
}
.border-color {
  border-color: rgb(87, 194, 255);
}
.background-color {
  background-color: rgb(87, 194, 255);
}
.hover\:text-color:hover {
  color: rgb(87, 194, 255);
}
